{% extends 'boards/base.html' %}
{% block content %}
<!--middle bar start-->
<section class="ftco-section contact-section ftco-no-pt ftco-animate">
    <div class="container" id="board" style="font-family: 'Gothic A1', sans-serif; font-size: 15pt;">
        <div class="container d-flex justify-content-between">
            <a href="" class="navbar-brand d-flex align-items-center">
                <img src="/static/images/icon1.png" alt="#">
                <STRONG>⠀ 여러분만의 맛집을 소개해주세요.⠀ </STRONG>
                <img src="/static/images/icon2.png" alt="#2">
            </a>
        </div>
    </div>
    <!--middle bar end-->
    <hr>
    <form method="POST" action="{% url 'write' %}">
        {% csrf_token %}
        <!--제목-->
        <div align="center" >

            <div class="form-group row"
                 style="font-family: 'Nanum Gothic Coding', monospace; font-size: 13pt;">
                <label for="inputpostname"
                       class="col-sm-2 col-form-label"><strong >제 목</strong></label>
                <div class="col-sm-10">
                    <input type="text" name="postname" cols="200" rows="10"
                           class="form-control" id="inputpostname" placeholder="제목을 입력해주세요.">
                </div>
            </div>
            <!--내용-->
            <div class="form-group row"
                 style="font-family: 'Nanum Gothic Coding', monospace; font-size: 13pt;" >
                <label for="inputContents" class="col-sm-2 col-form-label"><strong>내 용</strong></label>
                <div class="col-sm-10">
                                                <textarea type="text" name="contents" cols="200" rows="10"
                                                          class="form-control" id="inputContents"
                                                          placeholder="의견을 입력해주세요."></textarea>
                </div>
            </div>
        </div>
        <!--재작성/제출 버튼-->
        <div class="row">
            <div class="col-auto mr-auto"></div>
            <div class="col-auto">
                <div class="container">
                    <button class="btn btn-outline-danger" type="reset" value="Reset">재작성</button>
                    <button class="btn btn-outline-danger" type="submit" value="Submit">제출</button>
                </div>
            </div>
        </div>

    </form>
</section>
</div>
{% endblock %}