{% extends 'boards/base.html' %}
{% block content %}
<style>
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}







</style>

<!--board view start-->
<div>
    {% if user.is_authenticated %}
    <div class="row">
        <div class="col-auto mr-auto"></div>
        <div class="col-auto"></div>
        <a class="btn btn-outline-danger" href="/board_write/" role="button">글쓰기</a>
        {% endif %}
    </div>
    <br>
    <table class="table">
        <thead class="thead-light">
        <tr class="text-center" style="font-family: 'Gothic A1', sans-serif; font-size: 15pt;">
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">작성일</th>
            <th scope="col">조회수</th>
            <th scope="col">추천수</th>
        </tr>
        </thead>
        <tbody>
        {% for board in boardlist %}
        <tr class="text-center" style="font-family: 'Nanum Gothic Coding', monospace; font-size: 13pt;">
            <td>
                <a href="{{ board.pk }}">
                    <span>{{ board.postname }}</span>
                </a>
            </td>
            <td>
                <a href="{{ board.pk }}">
                    <span>{{ board.writer }}</span>
                </a>
            </td>
            <td>
                <a href="{{ board.pk }}">
                    <span>{{ board.created_date |date:"Y-m-d"}}</span>
                </a>
            </td>
            <td>
                <a href="{{ board.pk }}">
                    <span>{{ board.view_count }}</span>
                </a>
            </td>
            <td>
                <a href="{{ board.pk }}">
                    <span>{{ board.likes_user.all.count }}</span>
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>

    <div style="text-align:center">
        <ul class="pagination justify-content-center">
            Page {{ boardlist.number }} of {{ boardlist.paginator.num_pages }}
            <br><br>
            {% if boardlist.has_previous %}
            <button style="background-color: #e9ecef; color: black; border-radius: 8px;"><a
                    href='?page={{boardlist.number|add:-1}}'>이전</a></button>
            {% endif %}

            {% if boardlist.has_next %}
            <button style="background-color: #e9ecef; color: black; border-radius: 8px;"><a
                    href='?page={{boardlist.number|add:+1}}'>다음</a></button>
            {% endif %}
        </ul>
    </div>

    <div class="row">
        <div class="col-auto mr-auto"></div>
        <div class="col-auto"></div>
        <form align="right" class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="post">
            {% csrf_token %}
            <input class="form-control mr-sm-2" type="search" placeholder="Title Keyword"
                   aria-label="Search"
                   name="q" value="{{q}}">
            <button class="form-control mr-sm-2" type="submit">검색</button>
        </form>
    </div>
</div>

</section>
<!--board view end-->


{% endblock content %}